/* Notifications */

.notification {
    position: fixed;
    z-index: 1000;
    top: 0.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: hsl(0, 0%, 20%);
    overflow-x: hidden;
    padding: 0.25rem;
}

.notification__message {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 1fr auto;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1), 0 2px 3px hsla(0, 0%, 0%, 0.1);
    border-left: 0.5rem solid hsl(0, 0%, 100%);
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.notification__message h1 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}

.notification__message p {
    padding-bottom: 8px;
    color: #000;
    max-width: 320px;
    font-size: 0.8rem;
    grid-column: 1/-1;
}

.notification__message button {
    background: none;
    border: none;
    color: #000;
    color: inherit;
    width: 20px;
    height: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.notification__message button svg {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
}

.notification.received .notification__message {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}

.message--info {
    border-left-color: #90dee9;
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--success {
    border-left-color: hsl(120, 67%, 74%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--warning {
    border-left-color: hsl(54, 67%, 74%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--danger {
    border-left-color: hsl(0, 67%, 74%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}


/* style content */

.modal-start {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.content-edit,
.content-delete {
    width: 35%;
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2000;
    transform: translate(-50%, -50%);
}

.header-edit {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.header-edit h3 {
    font-size: 1.5em;
    color: #000;
}

.body-edit {
    padding: 20px;
    padding-bottom: 0;
}

.body-edit .form-floating {
    padding-bottom: 12px;
}

.note {
    padding-bottom: 0px;
}

.noteCopy {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -10;
    position: absolute;
}

.edit-footer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.edit-footer button {
    margin-right: 10px;
}

.nav-link {
    background-color: #dc3545;
    color: #fff;
    margin: 5px;
}

.nav-link .active {
    background-color: #253a58;
    border-color: #fff;
}

.nav-link:hover {
    color: #fff;
}

.tab-content {
    margin-left: 5px;
}

.tab-pane {
    width: 100%;
}


/* code aboute modal delete */

.icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

.header-delete {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
}

.header-delete p {
    font-size: 1.5em;
    padding-top: 10px;
    color: #000;
}

.footer-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.footer-delete button {
    margin-right: 10px;
}

@media(max-width:1250px) {
    .content-edit,
    .content-delete {
        width: 55%;
    }
}

@media(max-width:650px) {
    .content-edit,
    .content-delete {
        width: 75%;
    }
}

@media(max-width:430px) {
    .content-edit,
    .content-delete {
        width: 85%;
    }
}

@media(max-width:310px) {
    .content-edit,
    .content-delete {
        width: 91%;
    }
}